# Workspace configuration
engine-strict = true
shared-workspace-lockfile=true
prefer-frozen-lockfile = true
verify-store-integrity = true

# Delay fresh releases
minimumReleaseAge = 1440 # only install package that is at least 1 day old

# GitHub Packages
@stakefish:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}

# Peer dependencies
auto-install-peers=true
strict-peer-dependencies=false
