.bbn-backdrop {
  @apply fixed inset-0 z-40 flex items-center justify-center bg-[#000000]/50;
  transition-property: opacity;
  transition-duration: var(--motion-duration-backdrop, 0.5s);
  transition-timing-function: var(--motion-ease-backdrop, ease-in-out);
}
