@import "react-tooltip/dist/react-tooltip.css";
@import "react-toastify/dist/ReactToastify.css";
@import "@babylonlabs-io/core-ui/style.css";
@import "@babylonlabs-io/wallet-connector/style.css";
@import "./stakefish.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-surface;
}

:root {
  --primary: #ff7c2a;
  --secondary: "#0DB7BF";
  --toastify-toast-width: 344px;
  --twc-accent-primary: var(--twc-itemPrimaryDefault);
  --twc-accent-secondary: var(--twc-itemPrimaryDefault);
  --twc-secondary-strokeDark: var(--twc-itemPrimaryMute);
}

@media screen and (min-width: 768px) {
  :root {
    --toastify-toast-width: 671px;
  }
}

/* disable number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* .app-bg {
    background-image: url("/background-light.webp");
  }
  .dark .app-bg {
    background-image: url("/background-dark.svg");
  } */
}

[data-theme="dark"] .gradient-primary {
  background: linear-gradient(
    97.5deg,
    rgba(255, 124, 42, 0.2) 2.43%,
    rgba(153, 74, 25, 0.2) 97.63%
  );
}

[data-theme="light"] .gradient-primary {
  background: linear-gradient(98.35deg, #fff3ea 2.4%, #fff6ef 117.66%);
}

.shadow-primary {
  box-shadow: 1px 2px 20px 0px rgba(255, 124, 42, 0.3);
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fp-selected {
  border: 1px solid var(--primary) !important;
  filter: brightness(0.98);
}

.no-focus {
  outline: none !important;
}

/* tabs selection */
.tab.tab-active:not(.tab-disabled):not([disabled]),
.tab:is(input:checked) {
  border-color: #ff7c2a;
}

.divider {
  @apply border-t border-secondary-strokeLight;
}

.divider:after,
.divider:before {
  height: 1px !important;
  width: 1px !important;
}

.tooltip-wrap {
  @apply rounded !bg-surface p-3 !text-accent-secondary !opacity-100 shadow-lg !shadow-[#000000]/20;

  max-width: 25rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: fit-content !important;
  z-index: 9999;
  text-align: left;
}

.tooltip-wrap[data-popper-placement*="top"] .tooltip-arrow {
  @apply border-t-surface;
}

.tooltip-wrap[data-popper-placement*="bottom"] .tooltip-arrow {
  @apply border-b-surface;
}

.tooltip-wrap[data-popper-placement*="left"] .tooltip-arrow {
  @apply border-l-surface;
}

.tooltip-wrap[data-popper-placement*="right"] .tooltip-arrow {
  @apply border-r-surface;
}

body > .tomo-social {
  z-index: 100 !important;
}

.text-accent-primary {
  @apply text-itemPrimaryDefault;
}

.bbn-card {
  @apply px-5 py-4 md:px-7 md:py-6 rounded-none border-itemPrimaryMute;
}

.bbn-list-title {
  @apply !text-[clamp(12.6px,1rem+0.119048vmin,14px)] flounder:!text-[12px] tuna:!text-[clamp(12.6px,1rem+0.119048vmin,14px)] leading-[1.428] text-itemSecondaryDefault tuna:whitespace-nowrap;
}

.bbn-list-value {
  @apply text-itemPrimaryDefault font-mono font-semibold text-desktopCallout leading-[1.428] whitespace-nowrap
}

.bbn-list {
  gap: 0;
}

.bbn-list-item {
  @apply gap-1.5 px-4 py-[9px] bg-transparent border border-itemPrimaryMute !rounded-none;

  & + & {
    @apply !border-l-0;
  }
}

.react-tooltip {
  @apply z-50 !rounded-none !shadow-none !bg-neutral0 px-4 py-2.5 !text-neutral90 max-w-64 relative font-medium font-sans;

  p + p {
    @apply !mt-2;
  }
}

.sf-tabs [role="tablist"] {
  @apply gap-0 flex items-center relative z-[2] *:inline-flex *:items-center *:justify-center *:whitespace-nowrap *:px-3.5 *:py-1.5 *:text-itemSecondaryDefault *:!text-callout *:font-semibold *:uppercase after:absolute after:z-[-1] after:border-b after:border-solid after:border-itemSecondaryMute after:bottom-0 after:inset-x-0 mb-4;
}

.sf-tabs [role="tablist"] button {
  @apply disabled:cursor-default disabled:!text-backgroundSecondaryOnMute transition-[color,background] disabled:pointer-events-none focus:outline-none focus-visible:outline-none border-solid border border-itemSecondaryMute bg-backgroundSecondaryActive text-backgroundSecondaryOnActive hover:bg-backgroundSecondaryActive hover:text-backgroundSecondaryOnActive !px-3 !py-1.5 !normal-case mr-1;
  @apply rounded-none;
}

.sf-tabs [role="tablist"] button[aria-selected=true] {
  @apply border-b-transparent bg-backgroundPrimaryDefault text-backgroundPrimaryOnDefault;
}

.sf-tabs .bbn-subsection-contained {
  @apply bg-transparent border border-itemPrimaryMute !rounded-none;

}

.bbn-subsection {
  @apply text-itemPrimaryDefault;
}

.text-accent-secondary {
  @apply text-itemSecondaryDefault;
}

.bbn-switcher-label {
  @apply text-itemPrimaryDefault gap-2 !rounded-none border-itemSecondaryMute -mb-px;
}

.bbn-switcher:not(.bbn-switcher-disabled) {
  @apply text-itemSecondaryHighlight;
}

.bbn-switcher svg {
  width: 16px;
  height: 16px;
}

.bbn-chip {
  @apply text-callout font-medium text-itemSecondaryDefault rounded-none;
}

.bbn-input-suffix {
  @apply text-itemSecondaryDefault;
}

.bbn-input {
  @apply border-itemSecondaryMute text-itemPrimaryDefault;
}

.bbn-accordion {
  @apply border border-itemSecondaryMute text-itemPrimaryDefault;
}

.bbn-accordion-summary {
  @apply text-itemPrimaryDefault relative flex items-center justify-between w-full gap-3 p-4 font-sans font-semibold text-left text-body4 flounder:p-6 focus:outline-itemSecondaryDefault;
}

.bbn-accordion-icon {
  @apply text-itemSecondaryDefault mr-4;
}

.bbn-accordion-content {
  @apply text-itemSecondaryDefault overflow-hidden p-4 flounder:p-6 !pt-0;
}

.divider {
  @apply border-itemPrimaryMute;
}

.bbn-select {
  @apply border-itemSecondaryMute text-itemSecondaryDefault hover:text-itemPrimaryDefault rounded-none font-semibold;
}

.text-primary-light {
  @apply text-itemSecondaryDefault;
}